
/**
  Form
*/

.p-dialog-header { 
  border-bottom: 1px solid var(--gray-500) !important;
}

.p-dialog-footer { 
  border-top: 1px solid var(--gray-300) !important;
  padding: 1rem !important;
}

.group-form-register-doctor {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "nombre nombre apepat apepat apemat apemat"
    "username username tipodoc tipodoc ndoc ndoc"
    "especialidad especialidad especialidad tatencion tatencion tatencion"
}

.nombre { grid-area: nombre; }

.tdoc { grid-area: tdoc; }

.apepat { grid-area: apepat; }

.apemat { grid-area: apemat; }

.ndoc { grid-area: ndoc; }

.tipodoc { grid-area: tipodoc; }

.username { grid-area: username; }

.especialidad { grid-area: especialidad; }

.tatencion { grid-area: tatencion; }

.group-form-availability-doctor {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1em 1em;
  grid-auto-flow: row;
  grid-template-areas:
    "fecdispo fecdispo venhor"
    ". . ."
}

.fecdispo { grid-area: fecdispo; }

.venhor { grid-area: venhor; }
