.register-form {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

.container {
  background-color: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  min-width: 450px;
}

.mt-2 {
  margin-top: 1.5rem;
}

.p-button {
  background-color: var(--indigo-500);
}

@media screen and (max-width: 960px) {
  .register-form .card {
      width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .register-form .card {
      width: 100%;
      min-width: 0;
  }
}

.text-center {
  text-align: center;
  margin-top: 0;
}
