.status-pre-registrada {
  color: #fff;
  background-color: #17d8df;
  padding: 0.3rem 0.5rem;
  border-radius: 5rem;
}

.status-registrada {
  color: #fff;
  background-color: #17df28;
  padding: 0.3rem 0.5rem;
  border-radius: 5rem;
  min-width: 75px;
}

.status-anulada {
  color: #fff;
  background-color: #df4617;
  padding: 0.3rem 0.5rem;
  border-radius: 5rem;
  min-width: 75px;
}

.status-validada {
  color: #fff;
  background-color: #2417df;
  padding: 0.3rem 0.5rem;
  border-radius: 5rem;
  min-width: 75px;
}

.status-aceptada {
  color: #fff;
  background-color: #cbdf17;
  padding: 0.3rem 0.5rem;
  border-radius: 5rem;
  min-width: 75px;
}

.appointment-datatable .table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-button.p-button-icon-only.p-button-rounded {
  margin-right: 0.2rem;
}

@media screen and (max-width: 960px) {
  .appointment-datatable .table-header {
      align-items: flex-start;
  }
}
.appointment-datatable .product-image {
  width: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.appointment-datatable .p-dialog .product-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}
.appointment-datatable .confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 960px) {
  .appointment-datatable .p-toolbar {
      flex-wrap: wrap;
  }
  .appointment-datatable .p-toolbar .p-button {
      margin-bottom: 0.25rem;
  }
  .appointment-datatable .table-header {
      flex-direction: column;
  }
  .appointment-datatable .table-header .p-input-icon-left, .appointment-datatable .table-header input {
      width: 100%;
  }
}

.new-button {
  color: #2f48d3;
}

.delete-button {
  color: #ee2637;
  border-radius: 50%;
  height: 3rem;
}
